a:visited {
    color: orange;
}
a:active {
    color: black;
}

.main-table {
    border-collapse: separate;
    border-spacing: 2px;
    width: 50%;
    text-align:center;
    margin: auto;
    background-color: rgb(0, 0, 0);
    padding: 12pt; 
    color: white;
    font-family: 'Comic Sans MS';

}

.main-table a {
    color: white;
}


.addition-table {
    
    border-spacing: 0px;
    width: 100%;
}

.point {
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    padding: 10px; color: white;

}




p{
    width: auto;
}

p::first-letter{
    text-transform: uppercase;
    border: 0.1em solid rgb(110, 31, 37);
    font-size: 1.5em;
}

p::first-line{
    text-decoration: underline;
    color:black;
    text-decoration-color: purple;
}

p:first-of-type {
    color:   rgb(204, 37, 37);
    width: auto;
}

